@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
.container{
    /* border: 2px solid tomato; */
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 24px;
}


.container a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 400;

}

.banner-section-container {
    /* border: 2px solid tomato; */
    max-width: 1366px;
    height: 550px;
    background-image: url("/assets/Hero-bg.png");
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;


}

.banner-content {
    /* border: 2px solid blue; */
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.banner-content h1 {
    font-size: 45px;
    font-weight: 800;
    line-height: 50px;
    letter-spacing: 0%;
    margin-bottom: 22px;
    text-align: center;
}

.banner-content p {
    /* margin-bottom: 10px; */
}

.banner-content button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    color: white;
    padding: 15px 24px 15px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    cursor: pointer;
}