@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Azeret Mono", monospace;
}
.container{
    /* border: 2px solid tomato; */
    width: 70%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 17px 24px;
}


.container a{
    text-decoration: none;
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 5px;
    color: black;
    font-weight: 400;

}